// app global css in SCSS form
.container {
  padding: 0px 10%;
}

@font-face {
  font-family: "Mine";
  src: url("~assets/ANNAI.ttf");
}



@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap");

// font-family: 'Nanum Pen Script', cursive;
